#message{
    height: 30px;
    width: 80%;
    padding: 5px;
    flex: 1; 
    padding: 5px;
    margin-right: 5px;
}

#message:hover{
    border-radius: 5px;
    
}

#sendMsgBtn{
    height: 40px;
    padding: 5px 10px;  
    background-color: #007bff;  
    color: #fff;  
    border: none;  
    cursor: pointer;
    margin-right: 15px;
}

#sendMsgBtn:hover{
    color: aliceblue;
    background-color: #1e90ff;
}

#usernameForm{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 50%;
    border-radius: 5px;
    padding: 10px;
}

.input-with-button {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 5px;
}
#name, #room-code, #submit-btn{
    margin-bottom: 5px;
}