{% extends "base.html" %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.0/socket.io.js"></script>
{% endblock %} 
{% block title %}{{room}} - Flask Chat{% endblock %}
{% block content %}
    <div class ="messages-container" id="messages"></div>
    <div class="input-with-button" id="msgBox">
        <input type="text" id="message" placeholder="Type Your Message Here" onkeypress="checkKeyPress(event)">
        <button id="sendMsgBtn" type="button" onclick="sendMessage()">Send</button>
    </div>

    <script>
        window.addEventListener('beforeunload', () => {
            socket.emit('leave', {
                username: "{{username}}",
                room_code: "{{room}}"
            });
        });
        var socket = io.connect('http://192.168.100.7:5000');
        
        socket.connect();
        socket.on('connect', function() {
            socket.emit('join', {
                username: "{{username}}",
                room_code: "{{room}}"
            });
        });

        socket.on('message', function(data) {
            onUserJoinedorLeave(data, data['status']=='joined'?'user_joined':'user_left');
        });

        socket.on('recieved_msg', function(data) {
            createMessage(data.username, data.msg, data.username === "{{username}}"?'sender':'receiver');
        });

        var messages = document.getElementById('messages');
        function createMessage(name, msg, userType){
            console.log(userType);
            var content =`<div class="message ${userType}">
                <span>
                   <strong>${name}</strong><br>${msg}
                </span> 
            </div><br>`
            
            messages.innerHTML += content;
            window.scrollTo(0,document.body.scrollHeight);
        }

        function onUserJoinedorLeave(data, status) {
            var content = `<div class="${status}">
                <span>
                   <strong>${data.username}</strong> ${data.msg}
                </span>
            </div><br>`
            messages.innerHTML += content;
            window.scrollTo(0,document.body.scrollHeight);
        }

        function sendMessage(){
            var msg = document.getElementById('message').value;
            if (msg == '') {
                return false;
            } else {
                socket.emit('message', {username:"{{username}}", msg:msg, room_code:"{{room}}"});
                createMessage("{{username}}", msg, 'sender');
                document.getElementById('message').value = '';
                return false;
            }
        }

        function checkKeyPress(event) {
        if (event.keyCode === 13) { 
            sendMessage();
        }
    }
    </script>
{% for message in messages %}
    <script>
        createMessage("{{message['username']}}", "{{message['msg']}}");
    </script>
{% endfor %}
{% endblock %}
</html>