{% extends "base.html" %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.0/socket.io.js"></script>
{% endblock %}
{% block title %}Flask Chat{% endblock %}
{% block content %}
    <div id="messages" style="word-wrap: break-word;"></div>
    <div class="input-with-button" id="msgBox">
        <input type="text" id="message" placeholder="Type Your Message Here" onkeypress="checkKeyPress(event)">
        <button id="sendMsgBtn" type="button" onclick="sendMessage()">Send</button>
    </div>

    <script>
        var socket = io('http://192.168.100.10:5000');
        socket.connect();

        socket.on('recieved_msg', function(msg) {
            createMessage(msg['username'],msg['msg']);
        });

        var messages = document.getElementById('messages');

        function createMessage(name, msg){
          content =  `
            <div class="text" style="margin-bottom:5px; padding: 10px; background-color: rgb(221, 201, 201);">
                <span>
                   <strong>${name}</strong><br>${msg}
                </span>
            </div><br>
            `
            messages.innerHTML += content;
        }

        function sendMessage(){
            var msg = document.getElementById('message').value;
            if (msg == '') {
                return false;
            } else {
                socket.emit('message', {username:"{{username}}", msg:msg});
                createMessage("{{username}}", msg);
                document.getElementById('message').value = '';
                return false;
            }
        }

        function checkKeyPress(event) {
        if (event.keyCode === 13) { 
            sendMessage();
        }
    }
    </script>
{% for message in messages %}
    <script>
        createMessage("{{message['username']}}", "{{message['msg']}}");
    </script>

{% endfor %}
{% endblock %}


</html>