{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div id="usernameForm">
<form action="/chat" method="post" onsubmit="return submitName()" name="myForm">
    <input type="text" name="name" id="name" placeholder="Enter Your Username">
    <input type="submit" value="Continue">
</form>
</div>
<script>

    function submitName(){
    var name = document.forms['myForm']['name'].value;
      if (name == ''){
        alert('Please enter a name');
        return false;
        }
        else {
            return true;
        }
    }
</script>
{% endblock %}
</html>