{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div id="login-box">
    <form action="/login" method="post" id="usernameForm">
        <input type="text" name="username" placeholder="Enter Username" class="form-control" id="username">
        <input type="password" name="password" placeholder="Enter Password" class="form-control" id="password">
        <div class="remember-me-section">
            <input type="checkbox" name="remember" id="remember-me" value="True">
            <label for="remember-me">Remember Me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/signup">Sign Up</a>
    </form>

</div>
<div class="overlay" >
        <div class="modal" >
                <p id="error"></p>
                <button onclick="closeDialog()">Close</button>
        </div>
</div>
{% if error %}
<script>
    errorTag = document.getElementById('error').innerHTML = "{{ error }}";
    document.querySelector('.overlay').style.display = 'block';
    

    function closeDialog() {
        document.querySelector('.overlay').style.display = 'none';
    }
</script>
{% endif %}

{% endblock %}
