header {
  background-color: #494949;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin: 0;
}
header h1 {
  margin: 0;
  text-align: start;
}
header a {
  text-decoration: none;
  color: #fff;
}
header a:hover {
  cursor: pointer;
}
nav {
  background-color: #494949;
  padding: 15px;
}
nav ul {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
}
nav ul li a {
  color: #000000;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
}
nav ul li a:hover {
  color: #00f7ff;
  background-color: #333;
}
body {
  margin: 0;
  padding: 0;
  background: #333;
  overflow: hidden;
  overflow-x: auto;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100%;
  height: 100vh;
  width: 400px;
  height: 400px;
  background: #9c9c9c;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.form h2 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
  margin-top: 0;
}
form input:focus {
  border: 1px solid #ccc;
}
form button {
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
}
form button:hover {
  background: #e6e6e6;
  cursor: pointer;
}
form a {
  text-decoration: none;
  color: #7621ff;
}
form a:hover {
  color: #00eeff;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background: #494949;
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid #000000;
}
.sidebar header {
  color: #fff;
  margin-bottom: 10px;
}

.sidebar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  right: 5px;
  top: 10px;
  position: absolute;
}
.sidebar header button {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  background-color: #414141;
  align-items: center;
  display: flex;
}
.sidebar header button:hover {
  background-color: #9c9c9c23;
  color: #000000;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  margin: 5px;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}
.sidebar ul li:hover {
  color: #fff;
  cursor: pointer;
  background: #94949423;
}
.sidebar ul li.active {
  background: #91919159;
  color: #fff;
}

.chat-content {
  height: 100%;
  width: calc(100% - 250px);
  margin-left: 250px;
  background-color: red;
}

.chat-content header {
  background-color: #333;
  padding: 15px 15px 15px 15px;
  color: white;
  text-align: center;
  align-items: center;
  flex-direction: row;
  border: 2px solid #000000;
}
.chat-messages {
  height: calc(100vh - 130px);
  overflow-y: scroll;
  padding: 10px 10px 0 10px;
  background-color: #383838;
  scroll-behavior: smooth;
}
.chat-input {
  width: calc(100% - 240px);
  height: 50px;
  display: flex;
  box-sizing: border-box;
  bottom: 0;
  position: fixed;
  background: none;
  padding: 7.5px 15px 0 10px;
}
.chat-input input {
  width: 100%;
  height: 40px;
  background: #91919159;
  color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  bottom: 0;
  margin-right: 5px;
  outline: none;
}
.chat-input input:focus {
  border: 1px solid #000000;
}
.chat-input button {
  width: 40px;
  margin-left: 5px;
  height: 40px;
  background: #91919159;
  border: 1px solid #91919159;
  border-radius: 5px;
  box-sizing: border-box;
  bottom: 0;
}
.chat-input button:hover {
  background: #687eff;
  cursor: pointer;
  border: 1px solid #687eff;
}
.message {
  padding: 10px 10px;
  background-color: #494949;
  width: fit-content;
  margin-bottom: 10px;
  text-align: start;
  border-radius: 10px;
  max-width: 80%;
}
.message.sender {
  background-color: #0daaaa86;
  color: #fff;
  margin-left: auto;
}
.message.receiver {
  background-color: #494949;
  color: #fff;
  margin-right: auto;
}
.message .time {
  font-size: 10px;
  color: #fff;
}
.room-settings,
.settings {
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  display: flex;
}
.room-settings a,
.settings a {
  width: calc(100% - 10px);
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  align-items: center;
}
.room-settings a.danger:hover {
  color: rgb(255, 0, 0);
}
.message-settings img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.room-settings a:hover,
.settings a:hover {
  color: #00f7ff;
  background-color: #585858;
  cursor: pointer;
}
.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.not-found h1 {
  font-size: 50px;
  color: #fff;
}
.not-found a {
  color: #fff;
  text-decoration: none;
}
.not-found a:hover {
  color: #00f7ff;
  cursor: pointer;
}
.delete-msg-btn {
  cursor: pointer;
  background-color: #494949;
  width: fit-content;
  display: flex;
  float: inline-end;
  padding: 2px;
  border-radius: 10px;
}
.delete-msg-btn:hover {
  background-color: rgba(173, 0, 0, 0.664);
  color: #000000;
}
.delete-msg-btn img {
  filter: invert(200%);
  -webkit-filter: invert(200%);
}
.delete-msg-btn span {
  color: #fff;
  padding: 5px;
}
.context-menu {
  z-index: 12;
  position: fixed;
  background: #494949;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #494949;
}
::-webkit-scrollbar-thumb {
  background: #91919159;
}
::-webkit-scrollbar-thumb:hover {
  background: #919191;
}
.error {
  color: #ff0000;
}
.login-input.error {
  border: 1px solid #ff0000;
  color: black;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.remember-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.dialog-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.089);
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.dialog-box {
  width: 375px;
  height: 275px;
  background: #9c9c9c;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.dialog-box h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}
.dialog-box input[type="text"] {
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
}
.dialog-box input[type="text"]:focus {
  border: 1px solid #585858;
}
.dialog-box button {
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
  padding: 5px;
}
.dialog-box button:hover {
  background: #d8d8d8;
  cursor: pointer;
}
.notifications-box .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.notifications-box .header h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}
.notifications-box .header button {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  background-color: #414141;
}
.notifications-box .header button:hover {
  background-color: #db0f0f88;
  color: #000000;
}
.notifications-box {
  width: 450px;
  height: 350px;
  background: #9c9c9c;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background: #494949;
}
.notifications-box ul {
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.notifications-box ul li {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #91919131;
}
.notifications-box ul li button {
  left: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  background-color: #414141;
}
.notifications-box ul li button:hover {
  background-color: #afa8a85d;
  color: #000000;
}
.settings {
  background-color: #383838;
  justify-content: start;
  display: flex;
  flex-direction: column;
}
.settings a {
  display: flex;
  justify-content: start;
  align-items: center;
}
.settings a span {
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}
.error-message {
  color: #ff0000;
  font-size: 16px;
  margin-top: 5px;
}
.sidebar .logout-btn {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  background-color: #91919159;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  color: #fff;
}

.sidebar .logout-btn:hover {
  background-color: rgba(189, 0, 0, 0.692);
  cursor: pointer;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #91919159;
  margin: 5px 0 5px 0;
}

.send-friend-request-btn {
  cursor: pointer;
  background-color: #494949;
  width: fit-content;
  display: flex;
  float: inline-end;
  padding: 2px;
  border-radius: 10px;
}
.send-friend-request-btn:hover {
  background-color: rgba(0, 0, 0, 0.664);
  color: #000000;
}
.send-friend-request-btn img {
  filter: invert(200%);
  -webkit-filter: invert(200%);
}
.send-friend-request-btn span {
  color: #fff;
  padding: 5px;
}
.notification-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  justify-content: center;
  align-items: center;
}
.notification-box {
  width: 400px;
  height: 300px;
  background: #9c9c9c;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.notification-box h1 {
  margin: 0;
  text-align: center;
  margin-bottom: 15px;
}
.notification-box ul {
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.notification-box ul li {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #91919131;
}
.notification-box ul li button {
  left: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  background-color: #414141;
}
.notification-box ul li button:hover {
  background-color: #afa8a85d;
  color: #000000;
}
.notification-box .close-btn {
  cursor: pointer;
  border-radius: 10px;
  margin: 2px;
  height: 40px;
  background-color: #414141;
}
.notification-box .close-btn:hover {
  background-color: #db0f0f88;
  color: #000000;
}

.no-chat-selected {
  width: calc(100% - 250px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 250px;
}
.no-chat-selected h1 {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  width: 100%;
  max-width: 500px;
  word-wrap: break-word;
}
